* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #f9efef;
    color: #111;
}

header {
    width: 100%;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(1, 0, 0, 0.07);
}

.logo-bar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.logo {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
}


.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}


.social-icons i {
    margin-right: 12px;
    font-size: 18px;
    cursor: pointer;
}


.menu-bar {
    display: flex;
    gap: 30px;
}

.menu-bar a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.menu-bar a:hover {
    opacity: 0.7;
}


.right-icons i {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.main-content {
    background-color: rgb(179, 237, 218);
    position: relative;
    text-align: center;
    z-index: 2;
}


.main-content h1 {
    font-size: 120px;
    margin: 0;
    color: black;
    font-weight: 900;
    position: relative;
    top: 200px;
    right: 150px;
    z-index: 1;
}

.m h1 {
    font-size: 120px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: 900;
    position: relative;
    top: 36px;
    left: 230px;
    z-index: -1;
}

.main-content p {
    margin-top: 100px;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
    top: -95px;
    left: -170px;

}

.shoe-img {
    width: 450px;
    position: absolute;
    top: 13px;
    left: 598px;
    transform: rotate(-15deg);
}

.main-content h2 {
    position: relative;
    font-size: 20px;
    top: -220px;
    right: -250px;
}

.featured {
    text-align: center;
    padding: 60px 40px;
}

.s {
    font-size: 105px;
    color: rgba(114, 88, 88, 0.141);
    position: absolute;
    left: 450px;
    top: 630px;
    letter-spacing: 10px;
}

.featured h2 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.1;
}

.featured span {
    text-transform: lowercase;
    font-style: oblique;
    font-weight: 300;
    font-size: 20px;
    display: block;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 60px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.product img {
    width: 150px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product p {
    font-size: 16px;
    font-weight: bold;
}

.sale {
    position: relative;
}

.sale-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
}